<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VENDO V1.1.8" verbose="3">
    <listeners>
        <listener class-name="Utilities.Listenersconfig"></listener>
    </listeners>
    <test name="AppiumSuite">
    <classes>
        <class name="Scripts.Framework001">
        </class>
    </classes>
</test>
</suite>